<main
  style="
    width: auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  "
>
  <h1>404</h1>
  <p></p>
  <p>Back to <a href="/">Homepage</a></p>
</main>
