<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Not Found</title>
  </head>
  <body>
    <header>
      <nav aria-label="Main Navigation">
        <ul
          style="
            list-style: none;
            display: flex;
            justify-content: center;
            column-gap: 1rem;
          "
        >
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/product/1?category=electronics">Product Example</a></li>
        </ul>
      </nav>
    </header>
    <main
      style="
        width: auto;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <h1>404</h1>
      <p>Not Found</p>
    </main>
  </body>
</html>
